:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --white-bgc: rgba(255, 255, 255, 1);
  --dark-grey-bgc: rgba(47, 48, 58, 1);
  --light-grey-bgc: rgba(245, 244, 250, 1);
  --icon-light-grey: rgba(175, 177, 184, 1);
  --border-light-grey: rgba(236, 236, 236, 1);
}

/* Removing default styling */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

/* Common classes */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-bgc);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description-list {
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */

.header-section {
  padding-top: 25px;
  padding-bottom: 25px;

  border-bottom: 1px solid var(--border-light-grey);
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;

  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo {
  margin-right: 93px;
}

.logo-initial {
  color: var(--accent-color);
}

.header-logo-final {
  color: #000000;
}

.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link,
.header-contacts {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link {
  color: var(--primary-text-color);
}

.header-contacts {
  display: flex;
  align-items: center;

  color: var(--secondary-text-color);
}

.active-link {
  color: var(--accent-color);
}

.logo:focus,
.menu-link:hover,
.menu-link:focus,
.header-contacts:hover,
.header-contacts:focus,
.footer-address:hover,
.footer-address:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Footer */

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-grey-bgc);
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo-final {
  color: var(--white-bgc);
}

.address-box {
  font-style: normal;
}

.footer-address,
.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--white-bgc);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

/* Social networks */

.netwoks-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.networks-list-item {
  width: 44px;
  height: 44px;
}

.networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.team-network-link {
  color: var(--icon-light-grey);
}

.networks-box-text {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-bgc);
}

.footer-networks-list {
  display: flex;
  column-gap: 10px;
}

.footer-networks-link {
  color: var(--white-bgc);
  background-color: rgba(255, 255, 255, 0.1);
}

.networks-link:hover,
.networks-link:focus {
  background-color: var(--accent-color);
}

.team-network-link:hover,
.team-network-link:focus {
  color: var(--white-bgc);
}

.networks-icon {
  fill: currentColor;
}

/* Studio page */

.hero-section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  text-align: center;

  background-color: var(--dark-grey-bgc);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-bgc);
}

.hero-btn {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-bgc);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.benefits-item {
  flex-basis: calc((100% - 90px) / 4);
}

.benefits-item:not(:last-child),
.services-item:not(:last-child),
.team-item:not(:last-child),
.customers-logo-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;

  background-color: var(--light-grey-bgc);
  border-radius: 4px;
}

.benefits-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.benefits-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.services-section {
  padding-top: 0;
}

.services-item {
  flex-basis: calc((100% - 60px) / 3);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-section {
  background-color: var(--light-grey-bgc);
}

.team-item {
  text-align: center;
  flex-basis: calc((100% - 90px) / 4);

  background-color: var(--white-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-occupation {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.customers-logo-item {
  width: 170px;
  height: 92px;
}

.customers-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--icon-light-grey);
  border: 1px solid var(--icon-light-grey);
  border-radius: 4px;
}

.customers-logo-link:hover,
.customers-logo-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.customers-logo {
  fill: currentColor;
}

/* Portfolio page */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--light-grey-bgc);
  border: none;
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-bgc);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-link {
  display: block;
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border: 1px solid var(--border-light-grey);
  border-top: none;
}

.project-title {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.project-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
